<div class="container my-3">
<h1 class="text-center">Editar Servicios</h1>
  <div class= "container my-8">
  <%= simple_form_for @service do |f| %>
    <%= f.input :name, label: "Nombre" %>
    <%= f.input :city, label: "Ciudad" %>
    <%= f.input :address, label: "Dirección" %>
    <%= f.input :telephone, label: "Teléfono" %>
    <%= f.input :availability, label: "Horario de atención" %>
    <%= f.association :category, label: "Categoría", include_blank: false %>
    <%= f.input :description, label: "Descripción" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Editar", class: 'btn btn-ghost' %>
  <% end %>
  <%= link_to "Volver al detalle", service_path(@service), class:'btn btn-primary'%>
</div>
