<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1 class="text-center">Crear Nuevo Servicio</h1>
      <div class= "container my-5">
      <%= simple_form_for @service do |f| %>
        <%= f.input :name, label: "Nombre" %>
        <%= f.input :address, label: "Dirección" %>
        <%= f.input :telephone, label: "Teléfono" %>
        <%= f.association :category, label: "Categoría", include_blank: false %>
        <%= f.input :description, label: "Descripción" %>
        <%= f.submit "Crear", class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
<div>
<%= link_to "Volver", services_path, class="btn btn-primary">
</div>
