<div class="container">
    <div class="card">
    <div class="card-body">
    <div class="card-body text-center">
        <h2 class="card-title font-weight-bold">Detalle Servicio</h2>
    <img src="https://res.cloudinary.com/bad-kuky-0ne/image/upload/v1632340113/gato_vane_services_ek7vxk.png" />
      <!-- <h5 class="card-title">Detalle de servicio</h5> -->
          <!-- <small class="d-flex justify-content-between align-items-text-rigth m-4"><h1><%= @service.name %></h1> -->
             <h2>Dirección: <%= @service.address %></h2>
              <h2>Categoría: <%= @service.category.name %></h2>
              <h2>Ciudad: <%= @service.city %></h2>
              <h2>Horario de atención: <%= @service.availability %></h2></small>
    </div>
</div>
  <!-- Fotos -->
  <div class="card-body">
  <div class="d-flex justify-content-around">
    <% @service.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
<br>
<br>
  <!-- Botones -->
    <div class="card">
    <div class="card-body text-center">
  <!-- <div class="d-flex"> -->
    <%= link_to "Volver", services_path, class:'btn btn-flat'%>
    <!-- <%= link_to "Eliminar", services_path, data: { confirm: "¿Estás seguro de eliminar #{@service.name}?"}, class: 'btn btn-secondary' %> -->
    <%= link_to "Editar", edit_service_path, class: 'btn btn-ghost' %>
    <%= link_to "Reservar", new_appointment_path, class: 'btn btn-flat' %>
  </div>
</div>
    <!-- footer -->
<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4>SERVICIOS DE MASCOTAS🐱🐶🐠🐰🐯😹</h4>
                        <p> Nos Comprometemos a Combatir el Maltrato anima!!</p>
                        <p> Servicio de Adopcion.</p>
                        <p> Servicios de Rescate.</p>
                        <p> Servicios de Estetica y salud medicina complementaria.</p>
                        <p> Servicios de Nutricion y alimentacion animal.</p>
                        <p> Servicios de Funeraria y Cementerios(crematorio).</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4> Se parte de esta Gran COMUNIDAD 💜</h4>
                        <ul>
                            <li><%= link_to "Ir a Servicios", services_path, class:'btn btn-'%></li>
                            <li><%= link_to "Crea tu Servicio", services_path, class:'btn btn-'%></li>
                            <li><%= link_to "Categorias", categories_path, class:'btn btn-'%></li>
                            <li><a href="#">"Ingresa con el avatar "youtube" para risas de animales"</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4> Contactanos</h4>
                        <ul>
                            <li>Vanessa Nicol Sagredo Valdivia </li>
                            <li>Alejandro Eric Yévenes Zúñiga</li>


                          <li><i class="far fa-envelope"></i> sagredovanessa619@mascotagram.com</li>
                            <li><i class="far fa-envelope"></i> ayevenes@mascotagram.com</li>


                          <li><i class="fas fa-map-marker-alt"></i> Barrio lastarrias #3048 -Providencia-Santiago de Chile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="line"></div>
                    <div class="second2">
                        <!--<a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a> -->
                        <a href="https://github.com/features" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                        <a href="https://www.youtube.com/watch?v=WwMchL5_z7g" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                    </div>

                </div>
            </div>
            </div>
    </div>



</body>
