<h1><%= @service.name %></h1>

 <p><%= @service.address %></p>
 <p><%= @service.name %></p>
 <p><%= @service.city %></p>
 <p><%= @service.start_date %></p>
<%= link_to "volver", services_path, class:'btn btn-secondary'%>

<small><%= link_to "delete", services_path, data: { confirm: "Are you sure you want to remove #{@service.name} from your #{@service.name} service"}, class: 'btn btn-outline-secondary' %></small>
<small><%= link_to "edit", edit_service_path, data: { confirm: "Are you sure you want to edit #{@service.name} from your #{@service.name} service"}, class: 'btn btn-outline-secondary' %></small>

 