<div class="container">
  <h2>Registro de clientes Mascotragram💜</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :dni,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "dni" }%>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit , "Sign up" %>
    </div>
  <% end %>

  <%= render "customers/shared/links" %>
  <%= link_to "volver", services_path, class:'btn btn-primary'%>

<!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4>SERVICIOS DE MASCOTAS🐱🐶🐠🐰🐯😹</h4>
                        <p> Nos Comprometemos a Combatir el Maltrato anima!!</p>
                        <p> Servicio de Adopcion.</p>
                        <p> Servicios de Rescate.</p>
                        <p> Servicios de Estetica y salud medicina complementaria.</p>
                        <p> Servicios de Nutricion y alimentacion animal.</p>
                        <p> Servicios de Funeraria y Cementerios(crematorio).</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4> Se parte de esta Gran COMUNIDAD 💜</h4>
                        <ul>
                            <li><a href="#">REGISTRATE</a></li>
                            <li><a href="#">PUBLICA</a></li>
                            <li><a href="#">COMPARTE</a></li>
                            <li><a href="#">ADOPTA</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4> Contactanos</h4>
                        <ul>
                            <li>Vanessa Nicol Sagredo Valdivia </li>
                            <li>Alejandro Eric Yévenes Zúñiga</li>


                          <li><i class="far fa-envelope"></i> sagredovanessa619@mascotagram.com</li>
                            <li><i class="far fa-envelope"></i> ajevenes@mascotagram.com</li>


                          <li><i class="fas fa-map-marker-alt"></i> Barrio lastarrias #3048 -Providencia-Santiago de Chile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="line"></div>
                    <div class="second2">
                        <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                        <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                        <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                        <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                    </div>

                </div>
            </div>
            </div>
    </div>



</body>
