<div class="container my-3">
  <h1><%= @category.name %></h1>
  <div class="cards">
    <!-- Services -->
    <% @category.services.each do |service| %>
      <div class="card-trip">
        <!-- Carrusel de fotos -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner style=">
            <% service.photos.each_with_index do |photo, index| %>
              <% if index.zero? %>
                <div class="carousel-item active">
                 <img class="d-block w-100 h-500px" src="<%= cl_image_path photo.key %>" alt="slide 1">
                </div>
              <% else %>
                <div class="carousel-item">
                  <img class="d-block w-100 h-500px" src="<%= cl_image_path photo.key %>" alt="slide <%= index %>">
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-trip-infos">
          <div>
            <h2><%= service.name %></h2>
            <p><%= service.description %></p>
            <p><%= service.city %></p>
            <%= link_to "Ir a detalles", service_path(service), class: "btn btn-primary" %>
            <%= link_to "Reservar", new_appointment_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4>SERVICIOS DE MASCOTAS🐱🐶🐠🐰🐯😹</h4>
                        <p> Nos Comprometemos a Combatir el Maltrato anima!!</p>
                        <p> Servicio de Adopcion.</p>
                        <p> Servicios de Rescate.</p>
                        <p> Servicios de Estetica y salud medicina complementaria.</p>
                        <p> Servicios de Nutricion y alimentacion animal.</p>
                        <p> Servicios de Funeraria y Cementerios(crematorio).</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4> Se parte de esta Gran COMUNIDAD 💜</h4>
                        <ul>
                            <li><a href="#">REGISTRATE</a></li>
                            <li><a href="#">PUBLICA</a></li>
                            <li><a href="#">COMPARTE</a></li>
                            <li><a href="#">ADOPTA</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4> Contactanos</h4>
                        <ul>
                            <li>Vanessa Nicol Sagredo Valdivia </li>
                            <li> Alejandro Eric Yévenes Zúñiga</li>


                          <li><i class="far fa-envelope"></i> sagredovanessa619@mascotagram.com</li>
                            <li><i class="far fa-envelope"></i> ajevenes@mascotagram.com</li>


                          <li><i class="fas fa-map-marker-alt"></i> Barrio lastarrias #3048 -Providencia-Santiago de Chile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="line"></div>
                    <div class="second2">
                        <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                        <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                        <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                        <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                    </div>

                </div>
            </div>
            </div>
    </div>



</body>
